.nav{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    padding:10px;
    
    border:2px solid black;
}
.title{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    
    padding:1rem 1rem 0.25rem 0.5rem;
    display: flex;
    text-align:end;
}
.titleDiv{
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding:1rem 1rem 0.25rem 0.5rem;
    position:absolute;
    color:aliceblue;
    top:0rem;
    left:0.25rem;

}
.paragraphDiv{
    position:absolute;
    color:aliceblue;
    bottom:0.5rem;
    right:0.25rem;
    font-weight: 900;
}
.mainImgHolder  {
    position:relative
}
.toContact{
    font-size: larger;
    font-weight: 700;
    text-align:center;
}
.header{
    background-color: goldenrod;

}
.contactInfo{
    width:200px;
    text-align:center;
}
.navItem{
    border:2px solid black;
    flex:0 0 20px;
    padding:5px;
    border-radius:2px;
}
.mainPic{
    
    width:600px;
    background-color: goldenrod;
    border-radius:5px;
}
.pic{
    height:150px;
    width:150px;
    flex:0 0 150px;
    background-color: darkolivegreen;
    border-radius: 1rem;
}
.navItem.selected{
    background-color: rgb(233, 151, 0);
}

.menuDiv{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    margin:1em;
    
}
.menuItemName{
    font-size:36px;
    font-weight:700;
    padding:10px;
}
.menuText{
    padding:10px;

    flex:1 1 250;

}
.menuItem{
    display:flex;
    flex-direction:row;
    padding:10px;
    margin:10px auto;
    width:600px;
    border-radius: 1em;
    box-shadow: burlywood 2px 2px;
    background-color: antiquewhite;
}
.menuPic{
    flex:0 0 150px;
    border-radius: 1em;
}
.itemDiv{
    display:flex;
    flex:0 0 100px;
}
.contactDiv{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
    margin:1rem;
    
}
.contactPic{
    height:200px;
    width:200px;
    background-color: dodgerblue;
}
body {
    background-color: bisque;
}